.btnClass {
    margin: 0.4cm;
    display: flex;
    justify-content: center;
}

.myCard {
    display: block;
    border: 3px solid blueviolet;
}

.printOutput {
    margin-top: 0.5px;
    color: red;
    padding: 5px;
    font-size: 15px;
}