.cardClass {
    display: block;
    border: 4px solid blue;
}
.btnClass {
    margin: 0.4cm;
    margin-top: 0.5cm;
    text-align: center;
}
.outputClass {
    margin-top: 0.5px;
    color: red;
    padding: 5px;
    font-size: 15px;
}